@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.Heading_for_Home_section{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;
    width: 600px;
}
.Image_for_home_page{
    width: 350px;
    height: 350px;
}
.Home_whole_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.caption_div_home{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 25px;
}
.paragraph_for_Home_section{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    width: 480px;
    color: rgba(0, 0, 0, 0.509);
}

.explore_now_btn{
    width: 150px;
    height: 50px;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}
.Explore_btn_Now-btn{
    display: flex;
    justify-content: center;
}
.explore_now_btn:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.rigth_arrow_icon{
    position: relative;
    top: 2px;
}
.stockIMage_divvv{
    position: absolute;
    z-index: 11;
}
.tataaa{
    position: absolute;
    left: 200px;
    top: 300px;
}
.adani{
    position: absolute;
    right: -35px;
    top: 30px;
}
.top_btn{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: black;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.363);
    padding: 10px;
    outline: none;
    border-radius: 10px;
}
.top_btn:hover{
    cursor: pointer;
    text-decoration: underline;
}
.gain_looser_btn_div{
    position: relative;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
